/* Styles for the Advanced Markup assignment. */

/* Master HTML docutment formats */
html {
    background-color:#666666;
}
h1, h2 {
    font-family:fantasy;
	font-size: 30px;
	font-weight:bold;
}
/*navigation styles*/
nav ul li {
    display: inline;
    border: solid 2px black;
    padding: 10px;
}
.active {
    font-weight: 800;
    background-color: #999999;
    padding: 10px;
}

/*Table Styles*/
table {
    width: 100%;
    text-align: left;
    vertical-align:bottom;
}
.table-id {
    text-align:left;   
}
tbody {
    height: 300px;
    overflow-y: scroll;
    display: block;
}

/* About Page Styles */
dt{
    font-weight:900;
}
#content {
    float:right;
    width: 70%;
}
aside {
    float:left;
}
.bio-photo {
    width: 30%;
    float: right;
    background: gray
}
.bio-photo img {
    width:50%;
    height:auto;
    margin:10px;
    padding:5px;
}
#sidebar {
    float: left;
    width: 25%;
    background-color:#cc00cc;
    margin: 25px;
    padding: 5px; 
}
ul li {
    list-style-type:none;    
}

/* Index.html Styles */
.poem {
    list-style-type:none;
    font-family:Comic Sans MS;
}

/* Footer Styles */
footer {
    clear:both;
    text-align: center;
    border-top: 2px solid black;
}
.bottom-nav li {
    bottom:0;
}