/* Styles for the Advanced Markup assignment. */

/*navigation styles*/
nav ul li {
    display: inline;
    border: solid 2px black;
    padding: 10px;
}
.active {
    font-weight: 800;
    background: #cccccc;
    padding: 10px;
}
/*Table Styles*/
table {
    width: 100%;
    text-align: left;
}